@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Nav_Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}
.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.logo img {
    width: 100px;
    margin-left: 10px;
}
.navbar .searchbar {
    display: flex;
    height: 32px;
    align-items: center;
}

/* Search_Bar */

.search{
    display:flex;
    border: 1px solid #cccccc;
    width: 600px;
    height: 100%;
    margin-right: 10px;
    border-radius: 25px;
    

}

.search input{
    border: none;
    border-left: 1px solid #cccccc;
    width: 90%;
    padding: 3px 3px 3px 16px;
    border-radius: 25px;

}

.search button{
    border: none;
    border-left: 1px solid #cccccc;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

}

.search button i{
    margin: 0px;
    padding: 2px;
}


/* Icons */

.material-icons{
    color: #606060;
    margin-right: 10px;
}


/* MainBody */

.mainbody{
    display:flex;
    height: calc(100vh - 56px);
    overflow: hidden;
}




/* Category_Section */

.cat-profile-image{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 21px;

}
  

.categories{
    width: 240px;
    height: 100%;
    background: white;
    overflow-y: scroll;

}


.category-section{
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
}

.category-section .category:last-child{
    margin-bottom: 10px;
}

.category-heading{
    margin: 10px 0px 10px 25px;
    color: #606060;
    font-size: 14px;
    font-weight: 500;

}

.category{
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;

}

.category:hover{
    background: #edececad;
    transition: ease-in-out 0.2s;
}

.active{
    background: #d0d0d0;
    font-weight: 500;

}

.active:hover{
    background: #d0d0d0;
}

.active i{
    color: red;
}

.category i{
    margin-right: 24px;
}

i{
    font-style: normal;
    color: #606060;
}

span{
    margin-right: 24px;
    color: #606060;
}
.categories-footer{
    padding: 25px;
}


/* Buttons */

.button-selector{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 25px;
}

.button-selector-shorts{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
}

button{
    border: solid 1px #121010;
    background: #606060;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 550;
}

button:hover{
    background-color: #cccccc;
    transition: ease-in-out 0.2s;
}

.material-symbols-outlined{
    cursor: pointer;
    margin-right: 24px;
}

.material-symbols-outlined:hover{
    color:#cccccc;
    transition: ease-in-out 0.2s;
}

.glass{
    background-color: #cccccc;
    
}

/* Videos_Section */

.videos{
    width: calc(100vw - 240px);
    height: 100%;
    background: #f9f9f9;
    border-top: 1px solid #cccccc;
    overflow-y: scroll;
}

.video-grid{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;

}

.video{
    width: calc(25%-12px);
    margin-right: 12px;
    margin-bottom: 35px;
    cursor: pointer;
    
}

.video .thumbnail img{
    width: 309px;
    height: 174px;
    border-radius: 10px;
}

.video .details{
    display: flex;
    margin-top: 5px;
    width: 90%;
}

.video .profile{
    margin: 12px;
}

.video .profile img{
    border-radius: 50%;
    width: 36px;
    height: 36px;

}

.video .video-details p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video .posted-by{
    font-size: 14px;
    font-weight: 500;
    color: #606060;
}

span{
    margin: 0px;
}


/* Shorts_Section */

.shorts{
    display: flex;
}

.shorts img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.shorts p{
    font-size: 16px;
    font-weight: bold;
    color: #606060;
}

.first-short{
    width: 210px;
    height: 373px;
    border-radius: 10px;
}

/* Footer_Section */

.footer-section{
    margin-bottom: 10px;
}

.footer-section span{
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    color:#606060;
    cursor: pointer;
}

.copyright{
    color: #606060;
    font-size: 13px;
    font-weight: 400;
}





